<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
<title>person Info</title>
</head>
<body>
	<div>
		<form action="/" th:action="@{/persons/save}" method="post" th:object="${person}">
		<div><label for="userName">用户名：</label><input type="text" name="userName" th:field="${person.userName}"></input></div>
		<div><label>密码：</label><input type="text" name="password"  th:field="${person.password}"></input></div>
		<div><label>邮箱：</label><input type="text" name="email"  th:field="${person.email}"></input></div>
		<div><label>出生日期：</label><input type="text" name="birth"  th:field="${person.birth}" th:value="${person.birth}"></input></div>
		<div><label>验证码：</label><input type="text" name="checkCode"></input><img id="imgObj" alt="验证码" src="/init/InitRegValCode" /></div>
		<div><input type="submit" name="submit" th:value="save"></input></div>
		</form>
	</div>
</body>
</html>