<!doctype html>
<html ng-app="app">
<head>
<title>Bookshop - Your Online Bookshop</title>
<script type="text/javascript"
	src="webjars/angular/1.5.6/angular.min.js"></script>
<script type="text/javascript">
	angular.module('app', []).controller('MyController',
			[ '$scope', '$http', function($scope, $http) {
				$scope.name = "hello world";
				var promise = $http({
					method : 'post',
					url : 'http://localhost:8081/springboot/books',
					data : {
						id : "123",
						bookName : "xuminghui@uuzz.com",
						author : "123"
					}
				});
				promise.then(function(response) {
					alert(response.data.id + ' ' + response.data.bookName);
				}, function(response) {
					alert(response.status);
				});
			} ]);
</script>


</head>
<body>
	<div ng-controller="MyController">
		<input type="text" ng-model="name"></input>
		<div>{{name}}</div>
	</div>




</body>
</html>