<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<!-- #表达式来自于属性文件message  带参数的情况-->
<title th:text="#{home.welcome(${session.user.name})}">Welcome
	to our grocery store!</title>
<link rel="stylesheet" th:href="@{${#themes.code('theme_css')}}" />
</head>
<body>
	<div>这个引用的是themes的css</div>
	<form action="">
		<input th:value="${@viewBean.showName()}"></input>
		<p th:text="#{message}">BUG</p>
	</form>
	<!-- mvc.url的使用 -->
	<a th:href="${#mvc.url('showuri').arg(0,userName).build()}">12345 </a>

	<div>
		<div>
			${execInfo.templateName}:<span th:text="${execInfo.templateName}"></span>
		</div>
		<br />
		<div>
			${execInfo.now}:<span th:text="${execInfo.now}"></span>
		</div>
		<!-- http://localhost:8081/springboot/test/showName?name=123&name=456
	参数可能会有两个相同的key，所以${param.name[1]} 要这样使用
-->
		<div>
			${param.name[0]}:<span th:text="${param.name[0]}"></span>
		</div>
		<div>
			${session.sessionAttribute}:<span
				th:text="${session.sessionAttribute}"></span>
		</div>
		<div>
			${application.applicationContext}:<span
				th:text="${application.applicationContext}"></span>
		</div>

		<div>
			"th:untext": <span th:utext="#{home.utext}"></span>
		</div>
	</div>


	<div>对象的遍历选择</div>
	<div th:object="${session.user}">
		<p>
			Name: <span th:text="*{name}">Sebastian</span>.
		</p>
	</div>


	<div th:unless="${!#lists.isEmpty(colors)}">在颜色列表不存在数据的时候显示</div>

	<!-- 列表 <ol> 有序列表  <ul> 无序列表 -->
	<ol>
		<li th:each="color:${colors}"><span th:text="${color}">颜色</span>
		</li>


	</ol>
	<div th:unless="${#lists.isEmpty(allBooks)}">
		<h2 th:text="#{title.list}">List of Seed Starters</h2>
		<table>
			<thead>
				<tr>
					<th th:text="#{apple.dateTime}">Date Planted</th>
					<th th:text="#{apple.name}">Covered</th>
					<th th:text="#{apple.sex}">Covered</th>
					<th th:text="#{apple.hasReached}">hasReached</th>
					<th th:text="#{apple.saleTime}">Covered</th>
					<th th:text="#{apple.price}">Covered</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="apple : ${allApples}">
					<!-- thymeleaf的日期格式化 -->
					<td th:text="${#dates.format(apple.createTime, 'yyyy-MM-dd')}">13/01/2011</td>
					<td th:text="${apple.name}">123</td>
					<td th:text="${{apple.sex}}">123</td>
					<td th:text="${apple.hasReached}?#{bool.true}:#{bool.false}">123</td>
					<td th:text="${{apple.createTime}}">13/01/2011</td>
					<td th:text="${{apple.currency}}">13/01/2011</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div>
		<h2 th:text="FORM"></h2>
		<form action="#" th:action="@{/test/saveApple}" th:object="${apple}"
			method="post">
			<div>
				<label th:for="createTime" th:text="#{apple.dateTime}+':'">apple.dateTime</label>
				<input type="text" th:field="*{createTime}" />
			</div>
			<div>
				<label th:for="${#ids.next('hasReached')}"
					th:text="#{apple.hasReached}">Covered</label> <input
					type="checkbox" th:field="*{hasReached}" />
			</div>
			<div>
				<!-- 有${{}}的就是要通过conversionService转换的 ，${}：这种方式是将对象调用toString获得的值-->
				<ul>
					<li th:each="color : ${colors}"><input type="checkbox"
						th:field="*{colors}" th:value="${{color}}" /> <label
						th:for="${#ids.prev('colors')}" th:text="${color}">Heating</label></li>
				</ul>
			</div>
			<div>
				<ul>
					<li th:each="sex : ${allSexs}"><input type="radio"
						th:field="*{sex}" th:value="${sex}" /> <label
						th:for="${#ids.prev('sex')}" th:text="${{sex}}">Wireframe</label></li>
				</ul>

			</div>
			<div>
				<select th:field="*{color}">
					<option th:each="color : ${colors}" th:value="${{color}}"
						th:text="${color}">Wireframe</option>
				</select>

			</div>
			<div>
				<button type="submit" name="saveApple" th:text="保存">Add row</button>
			</div>
		</form>
	</div>
</body>
</html>
